<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microfrontend SSR com Golang e Material Design</title>
    <link href="/static/css/materialize.min.css" rel="stylesheet">
</head>
<body>
    <header>
        {{.Header}}
    </header>
    <main class="container">
        <h5>Talk is cheap. Show me the code.</h5>
        <div class="row">
            {{.Card}}
        </div>
    </main>
    <footer>
        {{.Footer}}
    </footer>
    <script src="/static/js/materialize.min.js"></script>
</body>
</html>
